.Navbar{
    width: 100vw;
    padding: 2vh 4vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: navy;
}

.Navbar a{
    color: white;
    text-decoration: none;
}
.Navbar a:hover{
    opacity: 0.7;
}